.container-edit{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    
}

.brand-edit{
    margin-left: -120%;
}

.title{
    font-family: 'Jura', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
}

.subtitle {
    font-family: 'Jura', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.navbar {
    background-color: #09769E;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    padding: 1%;
}

.navbar-brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbar-item {
    display: flex;
    align-items: center;
}

#fav-link img {
    width: 28px;
    height: 28px;
    margin-left: 1rem;
}

#logo{
    width: 28px;
    height: 28px;
    margin-right: 1rem;
}

.navbar-item:not(:last-child) {
    margin-right: 1rem;
}
