/* Body styles */
body {
    background-color: lightcyan;
}

.container-fav{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.Titulo{
    font-family: 'Jura', sans-serif;
    font-size: 250%;
    text-align: center;
}

.paragraf{
    font-family: 'Jura', sans-serif;
    font-size: 120%;
    text-align: center;
}


.jogos_list{
    display: flex;
    margin: 10px;
}