.appbar_fav{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color:#09769E ;
    justify-content: space-between;
    padding:1%
}

.logo-container_fav {
    display: flex;
    align-items: center; 
}

.logo_fav{
    display: flex;
    width: 6.8%;
    padding: 4px;
    padding-right: 12px;
}

.subtitle_fav{
    display: flex;
    font-family: 'Jura', sans-serif;
    font-size: 18px;
    font-weight:bold;
}

.home{
    display: flex;
    width: 8%;
    justify-content: flex-end;
    margin-left: 73%; 
    
}
