
.corpo{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: lightcyan;
}

.titulo{
    font-family: 'Jura', sans-serif;
    font-size: 30px;
    margin-bottom: 5%;
    font-weight: 600;
    margin-top: -10%;;
}

.input{
    width: 100%;
    padding: 1%;
    font-size: 17px;
    font-family:'Jura', sans-serif;
    border-radius: 3px;
    text-align: center;
    margin-bottom: 5%;
    border:2px solid #ccc
}

.botao1{
    padding: 10px 20px;
    background-color: #09769E; /* Vivid blue background */
    border: none;
    border-radius: 3px; /* Slightly rounded corners */
    color: white;
    font-size: 25px;
    font-family: 'Jura', sans-serif;
    cursor: pointer;
    outline: none;
}

.texto1{
    font-family: 'Jura', sans-serif;
    font-size: 30px;
    margin-top: 5%;
    font-weight: 600;
    margin-bottom: 5%;
}

.botao2{
    padding: 10px 20px;
    background-color: #09769E; /* Vivid blue background */
    border: none;
    border-radius: 3px; /* Slightly rounded corners */
    color: white;
    font-size: 25px;
    font-family: 'Jura', sans-serif;
    cursor: pointer;
    outline: none;
}
.sub_corpo{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
   
}