.appbar_fav{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color:#09769E ;
    justify-content: space-between;
    padding:1%
}

.logo-container_fav {
    display: flex;
    align-items: center; 
}

.logo_fav{
    display: flex;
    padding: 4px;
    padding-right: 12px;
    width: 28px;
    height: 28px;
}

.icon{
    width: 28px;
    height: 28px;
}

#fav{
    margin-right: 15px;
}

.icones{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.subtitle_fav{
    display: flex;
    font-family: 'Jura', sans-serif;
    font-size: 18px;
    font-weight:bold;
}

.home_buscador{
    display: flex;
    width: 7.5%;
    justify-content: flex-end;
    margin-left: 100%; 
    
}
